@import url("https://fonts.cdnfonts.com/css/sf-pro-display");

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #0c1228;
}

/* Navbar Start */
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #060c1f;
  padding: 10px 20px;
  display: flex;
  justify-content: flex-start; /* Align logo dan links ke kiri */
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Logo Container */
.navbar .logo {
  font-size: 24px;
  font-weight: bold;
  color: #f3f3f3;
  text-transform: uppercase;
  margin-right: 30px; /* Spasi antara logo dan links */
  display: flex;
  align-items: center;
}
.navbar .logo span {
  color: #f5a425;
}

/* Nav Links */
.navbar .nav-links {
  display: flex;
  gap: 20px; /* Spasi antar links */
}

/* Styling untuk nav-link */
.nav-link {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: color 0.3s ease;
  position: relative;
}

/* Underline animation on hover */
.nav-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f5a425;
  transition: width 0.3s ease;
}

.nav-link:hover::before {
  width: 100%;
}

.nav-link:hover {
  color: #ca881d;
}

/* Navbar-right stays intact for profile and dropdown */
.navbar-right {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: auto; /* Posisikan navbar-right di ujung kanan */
}

.profile {
  display: flex;
  align-items: center;
  background-color: #d3d3d3;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  justify-content: center;
}

.profile-icon {
  width: 20px;
  height: 20px;
  background-color: #f5a425;
  border-radius: 50%;
}
/* Navbar End */
/* Carousel Start */
.carousel-container {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-carousel {
  background-color: #f5a425;
  color: #fff;
  border: none;
  padding: 12px 24px;
  font-size: 0.5em;
  font-weight: bold;
  border-radius: 2em;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.btn-carousel:hover {
  background-color: #ca881d;
}
.player-join-carousel {
  font-size: 0.5em;
  color: #eee;
}
.button-container {
  display: flex;
  justify-content: center;
  gap: 15px; /* Jarak antara tombol */
}

.join-button,
.discord-button {
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  border: 0px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0px 0px 14px -7px rgba(245, 164, 37, 0.75);
}

.join-button {
  background-image: linear-gradient(
    90deg,
    rgba(245, 164, 37, 1) 0%,
    rgba(202, 136, 29, 1) 51%,
    rgba(245, 164, 37, 1) 100%
  );
}

.discord-button {
  background-image: linear-gradient(
    90deg,
    rgba(114, 137, 218, 1) 0%,
    rgba(78, 93, 148, 1) 51%,
    rgba(114, 137, 218, 1) 100%
  );
  box-shadow: 0px 0px 14px -7px rgba(114, 137, 218, 0.75);
}

.join-button:hover,
.discord-button:hover {
  background-position: right center;
}

.join-button:active,
.discord-button:active {
  transform: scale(0.95);
}

.carousel-text {
  position: absolute;
  z-index: 2;
  color: #eee;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

.carousel-text h2 {
  margin: 0;
  font-size: 3em;
}

.carousel-text p {
  margin-top: 10px;
}

.carousel-slide {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

.carousel-slide.active {
  display: flex;
}

.carousel-slide img {
  filter: blur(2px);
  width: 100%;
  border-radius: 10px;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #eee;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

.prev-btn:hover,
.next-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* Carousel End */
/* Mode Start */
.mode-container {
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  margin: 40px auto;
  width: 80%;
  max-width: 1200px;
}

.mode-header h2 {
  font-size: 2.5em;
  color: #f3f3f3;
  margin-bottom: 20px;
  font-family: "Arial", sans-serif;
}

.mode-list {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.mode-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 200px;
}

.mode-item img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin-bottom: 15px;
}

.mode-deskripsi {
  font-size: 1.2em;
  font-weight: bold;
  color: #f3f3f3;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Arial", sans-serif;
}

/* Responsive Design */
@media (max-width: 768px) {
  .mode-list {
    flex-direction: column;
    gap: 20px;
  }

  .mode-item {
    width: 100%;
  }
}

/* Mode End */
/* About Start */
.about {
  padding: 40px 20px;
  text-align: center;
  border-radius: 10px;
}

.title-about {
  font-size: 2em;
  color: #f3f3f3;
  margin-bottom: 20px;
  font-weight: bold;
}

.detail-about {
  font-size: 1.1em;
  color: #f3f3f3;
  line-height: 1.6;
  max-width: 700px;
  margin: 0 auto;
}

/* About End */
/* Ranks Start */
.ranks {
  padding: 40px 20px;
  text-align: center;
  border-radius: 10px;
}

.title-ranks {
  font-size: 2em;
  color: #f3f3f3;
  margin-bottom: 20px;
  font-weight: bold;
}
.rank-harga {
  font-size: 1.2em;
  color: #4495ff;
  margin-bottom: 5px;
}
.rank-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.rank-box:hover {
  transform: translateY(-10px);
}

.rank-box {
  transition: transform 0.3s ease;
  background-color: #18233a;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  max-width: 200px;
  text-align: left;
}

.rank-name {
  font-size: 1.5em;
  color: #f5a425;
  margin-bottom: 10px;
  font-weight: bold;
}

.rank-description {
  font-size: 1em;
  color: #f3f3f3;
  line-height: 1.6;
}
.rank-button {
  margin: 10px 0 0 0;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto; /* Membuat animasi bergerak */
  color: white;
  display: block;
  border: 0px;
  width: 100%;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px rgba(245, 164, 37, 0.75); /* Warna shadow dari gradient */
  background-image: linear-gradient(
    90deg,
    rgba(245, 164, 37, 1) 0%,
    rgba(202, 136, 29, 1) 50%,
    rgba(245, 164, 37, 1) 100%
  );
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.rank-button:hover {
  background-position: right center; /* Mengubah arah gradien saat hover */
  color: #fff;
  text-decoration: none;
}

.rank-button:active {
  transform: scale(0.95); /* Efek animasi kecil saat tombol ditekan */
}

/* Ranks End */
/* Topup Start */
.topup {
  padding: 40px 20px;
  text-align: center;
  border-radius: 10px;
}

.title-topup {
  font-size: 2em;
  color: #f3f3f3;
  margin-bottom: 20px;
  font-weight: bold;
}

.topup-container {
  background-color: #18233a;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  max-width: 300px;
  text-align: left;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}

.topup-container:hover {
  transform: translateY(-10px);
}

.topup-paket {
  font-size: 1.5em;
  color: #f5a425;
  margin-bottom: 10px;
  font-weight: bold;
}

.topup-description {
  font-size: 1em;
  color: #f3f3f3;
  line-height: 1.6;
  margin-bottom: 10px;
}

.topup-harga {
  font-size: 1.2em;
  color: #4495ff;
  margin-bottom: 20px;
}

.topup-button {
  background-color: #f5a425;
  color: #f3f3f3;
  border: none;
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.topup-button:hover {
  background-color: #ca881d;
}

.topup-container-wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

/* Topup End */
/* Feedback Start */
.feedback {
  padding: 40px 20px;
  text-align: center;
  border-radius: 10px;
}

.title-feedback {
  font-size: 2em;
  color: #f3f3f3;
  margin-bottom: 20px;
  font-weight: bold;
}

.feedback-container {
  background-color: #18233a;
  border-radius: 10px;
  padding: 20px;
  text-align: left;
  max-width: 600px;
  margin: 0 auto;
}

.feedback form {
  display: flex;
  flex-direction: column;
}

.feedback label {
  font-size: 1.2em;
  color: #f3f3f3;
}

.feedback input[type="text"],
.feedback textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f3f3f3;
  font-size: 1em;
}

.feedback textarea {
  resize: vertical;
  height: 150px;
}

.feedback input[type="submit"] {
  background-color: #f5a425;
  color: #f3f3f3;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.feedback input[type="submit"]:hover {
  background-color: #ca881d;
}

/* Feedback End */
/* Footer Start */
footer {
  padding: 20px;
  color: #f5e3ef;
  text-align: center;
  background-color: #060c1f;
}

/* Footer End */



/* start form */

.form-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  background-color: #1f1f1f;
  padding: 35px;
  width: 450px;
  
  border-radius: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

::placeholder {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #aaa;
}

.form button {
  align-self: flex-end;
}

.flex-column > label {
  color: #f1f1f1;
  font-weight: 600;
}

.inputForm {
  border: 1.5px solid #333;
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: 0.2s ease-in-out;
  background-color: #2b2b2b;
}

.input {
  margin-left: 10px;
  border-radius: 10px;
  border: none;
  width: 100%;
  height: 100%;
  background-color: #2b2b2b;
  color: #f1f1f1;
}
.input:focus {
  outline: none;
}

.inputForm:focus-within {
  border: 1.5px solid #2d79f3;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: flex-start;
}

.flex-row > div > label {
  font-size: 14px;
  color: #f1f1f1;
  font-weight: 400;
  text-align: center  ;
}

a{
  text-decoration: none;
  cursor: pointer;
}

.span {
  font-size: 14px;
  margin-left: 5px;
  color: #2d79f3;
  font-weight: 500;
  cursor: pointer;
  padding-left: 135px;
}

.signup {
  font-size: 14px;
  margin-left: 5px;
  color: #2d79f3;
  font-weight: 500;
  cursor: pointer;

}

.button-submit {
  margin: 20px 0 10px 0;
  background-color: #f5a425;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  cursor: pointer;
  display:flex; 
  justify-content: center; 
  align-items: center; 
}
.p {
  text-align: center;
  color: #f1f1f1;
  font-size: 14px;
  margin: 5px 0;
}

.btn {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center; 
  align-items: center; /
  font-weight: 500;
  gap: 10px;
  border: 1px solid #333;
  background-color: #2b2b2b;
  color: #f1f1f1;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn:hover {
  border: 1px solid #2d79f3;
}

h1{
  color: #f3f3f3; 
  font-size: 34px; 
  font-weight: bold;
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* end form */

    